.conteneur {
	-fx-border-width:10;
	-fx-background-color:tan;
}

#vue-racine {
	-fx-background-color:tan;
}

#vue-file-attente {
	-fx-alignment:center;
}

#text {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-alignement:top-center;
}

#vue-partie {
	-fx-alignement:center;
}

#orientation {
	-fx-alignement:center;
}

#detailPartie {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-alignment:top-center;
	-fx-text-fill: #800080;
}

#modeDeJeu {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#Joueur1 {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}

#Joueur2 {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#CouleurPieceJoueur1 {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#CouleurPieceJoueur2 {
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#chronoJoueur1 {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#chronoJoueur2 {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#PiecePerdu {
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-underline: true;
	-fx-text-fill: #660000;
}
#piecePerduHasard {
	-fx-font-style: italic;
}
#piecePerduHasard2 {
	-fx-font-style: italic;
}



.gros-bouton {
	-fx-font-size: 1.2em;
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
	-fx-alignement: center;
}

.gros-bouton:pressed {
	-fx-font-size: 1em;
}

.gros-bouton:hover {
	-fx-cursor: hand;
}


.petit-espace-vertical {
    -fx-min-height:10;
}

.grand-espace-vertical {
    -fx-min-height:30;
}

.grand-espace-horizontal {
    -fx-min-width:30;
}

.conteneur-parent {
    -fx-border-color:black;
}

#conteneur-piece-perdu {
    -fx-alignment:top-center;
}

.piece-perdu{
	-fx-padding: 8 15 15 15;
	-fx-background-color: derive(black, 75%);
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-background-insets: 0,0 0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 8;
}

.label-piece-perdu{
	-fx-text-fill: derive(black, 0.5%);
	-fx-font-size:3em;
}
.scroll-bar {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar .track {
   -fx-background-color: derive(black, 75%);
   -fx-border-color: transparent;
   -fx-background-radius: 8;
}

.scroll-bar .thumb {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-bar .corner {
    -fx-shape : " ";    
    -fx-background-color: transparent;
    -fx-visibility: hidden;
}
